{% extends 'admin_index.html' %}
{% load static %}
{% block body %}

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header">
          <h2 class="box-title">Recipe B/W Dates REPORT DATE SELECTION</h2>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">From Date</label>
              <input type="date" class="form-control" value="{{fromdate}}" name="fromdate" id="exampleInputEmail1" required="required">
            </div>
              <div class="form-group">
              <label for="exampleInputEmail1">To Date</label>
              <input type="date" class="form-control" value="{{todate}}" name="todate" id="exampleInputEmail1" required="required">
            </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Search</button>
          </div>
          </div>
        </form>
          {% if data %}
           <div class="box-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>S.No</th>
                  <th>Recipe Title</th>
                  <th>Recipe Prep. Time</th>
                  <th>Recipe Cook Time</th>
                  <th>Recipe Yield</th>
                  <th>Creation Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.pertime }}</td>
                    <td>{{ i.cooktime }}</td>
                    <td>{{ i.yields }}</td>
                    <td>{{ i.creationdate }}</td>
                    <td>
                      <a href="{% url 'admin_edit_recipe' i.id %}">Edit</a> | <a href="{% url 'admin_delete_recipe' i.id %}"  onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
             </div>

           {% elif data2 %}
            <h4 align="center">Data not found</h4>

          {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

