{% extends 'admin_index.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  #active {
    border-radius: 50%;
  }

  #inactive {
    border-radius: 50%;
  }
  #active:hover {
    cursor: default !important;
  }
  #inactive:hover {
    cursor: default !important;
  }
  img {
    width: 60px;
    height: 60px;
  }
  .table-responsive{
    font-size:11px;
  }
  .material-symbols-outlined
  {
    font-size:14px;
  }
    td{
    padding:0px;
    }
    .password{
        display:none;
    }
    .text{
      display:block;
    }
    .green-row{
      color:white;
      background-color:green!important;
    }
    .red-row{
      color:white;
      background-color:red!important;
    }
    .head-row{
      color:white;
      background-color:#165d5d!important;
    }
</style>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header">
          <h2 class="box-title">REG. USERS B/W Dates REPORT DATE SELECTION</h2>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">From Date</label>
              <input type="date" class="form-control" value="{{fromdate}}" name="fromdate" id="exampleInputEmail1" required="required">
            </div>
              <div class="form-group">
              <label for="exampleInputEmail1">To Date</label>
              <input type="date" class="form-control" value="{{todate}}" name="todate" id="exampleInputEmail1" required="required">
            </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Search</button>
          </div>
          </div>
        </form>
          {% if data %}
           <div class="box-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Registration Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.first_name}}</td>
                <td>
                  <span id="mobile-{{forloop.counter}}" class="password">{{i.contact}}</span>
                  <button type="button" class="btn btn-success" id="mobile-btn-{{forloop.counter}}" onclick="togglePassword('mobile-{{forloop.counter}}', this.id)"><i class="fa fa-eye"></i></button>
                </td>
                <td>
                  <span id="email-{{forloop.counter}}" class="password">{{i.user.email}}</span>
                  <button type="button" class="btn btn-success" id="email-btn-{{forloop.counter}}" onclick="togglePassword('email-{{forloop.counter}}', this.id)"><i class="fa fa-eye"></i></button>
                </td>
                <td>{{i.creationdate}}</td>

                <td>
                  <a href="{% url 'user_recipe' i.id %}">
                    <button type="button" class="btn btn-info">Recipe</button>
                  </a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
             </div>

           {% elif data2 %}
            <h4 align="center">Data not found</h4>

          {% endif %}
      </div>
    </div>
  </div>
</section>
<script>
    function togglePassword(element_id, btnId){
      var elementData = document.getElementById(element_id);
      var elementBtn = document.getElementById(btnId);
      console.log(elementData.classList.contains("password"))
      if(elementData.classList.contains("password")){
        elementData.classList.remove("password");
        elementData.classList.add("text");
        elementBtn.children[0].classList.add("fa-eye-slash");
        elementBtn.children[0].classList.remove("fa-eye");
      }
      else{
        elementData.classList.remove("text");
        elementData.classList.add("password");
        elementBtn.children[0].classList.remove("fa-eye-slash");
        elementBtn.children[0].classList.add("fa-eye");
      }
    }
  </script>


{% endblock %}

