{% extends 'index.html' %}
{% load static %}
{% block body %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0" style="margin-bottom: 90px;">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" style="height:700px;" alt="Image">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Rent A Car</h4>
                            <h1 class="display-1 text-white mb-md-4">Quality Cars with Unlimited Miles</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Reserve Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Buy A Recipes Start -->
<div class="container-fluid py-5" style="margin-top:-120px">
    <div class="container pt-5 pb-3">
        <h2 class="display-4 text-uppercase text-center mb-5">The Recent Recipes</h2>
        <div class="row">
            {% for i in data %}
            <div class="col-lg-4 col-md-6 mb-2" style="height:300px;width:100%">
                <a href="/add_comment/{{i.id}}">
                <div class="rent-item mb-4">
                    <img class="img-fluid mb-4" src="{{i.photo.url}}" style="height:200px;width:100%" alt="">
                    <h4 class="text-uppercase mb-4">{{i.title|slice:":20"}} ...</h4>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    <!-- Buy A Recipes End -->

    <!-- Vendor Start -->
    <div class="container-fluid py-5" style="margin-top:-20px; margin-bottom:40px">
        <h3 class="text-center" style="color:#f77d0a">Gallery</h3>
        <div class="container py-5">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-1">
                    <img src="{% static 'img/vendor-1.jpg' %}" style="height:150px;width:100%" alt="">
                </div>
                <div class="bg-light p-1">
                    <img src="{% static 'img/vendor-2.jpg' %}" style="height:150px;width:100%" alt="">
                </div>
                <div class="bg-light p-1">
                    <img src="{% static 'img/vendor-3.jpeg' %}" style="height:150px;width:100%" alt="">
                </div>
                <div class="bg-light p-1">
                    <img src="{% static 'img/vendor-4.jpg' %}" style="height:150px;width:100%" alt="">
                </div>
                <div class="bg-light p-1">
                    <img src="{% static 'img/vendor-5.jpg' %}" style="height:150px;width:100%" alt="">
                </div>
                <div class="bg-light p-1">
                    <img src="{% static 'img/vendor-6.jpeg' %}" style="height:150px;width:100%" alt="">
                </div>
                <div class="bg-light p-1">
                    <img src="{% static 'img/vendor-7.jpg' %}" style="height:150px;width:100%" alt="">
                </div>
                <div class="bg-light p-1">
                    <img src="{% static 'img/vendor-8.jpg' %}" style="height:150px;width:100%" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->

{% endblock %}